<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/living-room-interior-with-rear-view-sofa_107791-3689.jpg?t=st=1645115951~exp=1645116551~hmac=9e6864a49981fa28055695274ae97b96e1cb044b0fea7c4b8d461c20ffd420af&w=1380);">
  <div class="banner-container">
    <h1 style="text-align: center;"><%= @list.name %></h1>
  <div class="delete-button"><%= link_to "Delete list", list_path(@list), class: "btn btn-light", method: :delete, data: { confirm: "Are you sure you want to delete this list?"} %></div>
  </div>
</div>



<div class="container m-4 p-3">

  <h2 class="m-3">Bookmarks   <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-dark"  %></h2>

    <div class="cards m-3">
      <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <div class="card-trip">
            <img src="<%= movie.poster_url %>" />
              <div class="card-trip-infos">
                <div class="flexible">
                  <h2><%= movie.title %> • <%= movie.rating %> <i class="fas fa-star"></i></h2>
                  <p><%= movie.overview %></p>
                </div>
              </div>
                <div class="card-trip-pricing"
                ><p><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
                <h2><%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to delete this bookmark?"} %></h2>
                </div>
          </div>
      <% end  %>
    </div>
</div>
